examples/weatherwarnings-basic.json
[
  {
    "id": "wwex1",
    "type": "tab",
    "label": "DWD Weatherwarnings - Basic Example"
  },
  {
    "id": "ww_comment",
    "type": "comment",
    "z": "wwex1",
    "name": "DWD Weather Warnings - Basic Example",
    "info": "Demonstrates basic usage of the DWD Weatherwarnings node:\n\n- manual trigger via Inject\n- configure dataset + warncell ID\n- view resulting alerts in Debug",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "ww_inject",
    "type": "inject",
    "z": "wwex1",
    "name": "manual trigger",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "once": true,
    "onceDelay": 0.2,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "ww_node"
      ]
    ]
  },
  {
    "id": "ww_node",
    "type": "dwd-weatherwarnings",
    "z": "wwex1",
    "name": "",
    "dataset": "COMMUNEUNION_CELLS_STAT",
    "warncellId": "",
    "onlyActive": true,
    "allowStale": true,
    "autoRefresh": 0,
    "fetchOnDeploy": true,
    "diag": false,
    "x": 400,
    "y": 140,
    "wires": [
      [
        "ww_debug"
      ]
    ]
  },
  {
    "id": "ww_debug",
    "type": "debug",
    "z": "wwex1",
    "name": "warnings",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 140,
    "wires": []
  }
]